---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import AstroLogo from "../images/AstroLogo.astro";
import { fetchRepoData } from "./github";

const data = await fetchRepoData();
---

<Layout title="Welcome to Astro.">
	<main>
		<AstroLogo />

		<h1>CFGS DAW <span class="text-gradient">RRICAJOS</span></h1>

		<p class="instructions">
			La idea es tener una vista de pájaro del Ciclo Formativo de Grado Superior <code
				>CFGS</code
			> de Desarrollo de Aplicaciones Web <code>DAW</code>, es decir, quiero
			revisar los lenguajes de programación utilizados en cada Unidad Formativa <code
				>UF</code
			> rápidamente y tener un atajo web al repo.
			<br /><br />
			Las <code>UFs</code> están en submódulos de GitHub, para actualizarlos ejecute
			el script <code>./update_submodules.sh</code> en una terminal UNIX.
			<br /><br />
			<strong>Autor:</strong> Ricard Penin Honrubia @rricajos.
		</p>

		<ul role="list" class="link-card-grid">
			{
				data.map((repo) => (
					<Card
						namespace={repo.namespace}
						title={repo.name}
						description={repo.description}
						currentBlob={repo.currentBlob}
						lastBlob={repo.latestBlob}
						href={repo.url}
						stat={repo.stat}
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
